.brand .location {
  font-size: 14px;
}

ul.posts_list {
  list-style: none;
  margin: 0px;
  li.post {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.27);
  }
}

.side_panel {
  float: left;
  .first.info, .info {
    margin-bottom: 20px;
    span, a {
      float: left;
    }
  }
  span {
    float: left;
  }
}

.read-more, .read-less {
  width: 100%;
}

.cover.info {
  margin-bottom: 10px;
}
